.main-container {
  background-color: #EDEDED;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  overflow: hidden;
}

.bio-section {
  display: flex;
  align-items: center;
}

.bio-section#par1 .bio-img,
.bio-section#par3 .bio-img {
  margin-right: 5px;
}

.bio-section#par2 .bio-img {
  margin-left: 5px;
}

.bio-section#par1 p,
.bio-section#par3 p {
  margin-left: -30px;
}

.bio-section#par2 p {
  margin-right: -50px;
}

.bio-img {
  width: 200px;
  height: auto;
}

.bio-section p {
  font-size: 22px;
}

@media (max-width: 768px) {
  .bio-img {
    width: 130px;
    height: auto;
  }
  
  .bio-section p {
    font-size: 14px;
  }
}