.testing-menu {
  background-color: #F2F2F2;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.menu-item {
  padding: 10px;
  border-bottom: 1px solid #acacac;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #ffebeb;
}

.testing-menu .menu-item:first-child:hover {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.testing-menu .menu-item:last-child:hover {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdown-content {
  padding: 20px;
  font-size: 18px;
  background-color: #ffebeb;
  color: #000;
}

.menu-item:last-child {
  border-bottom: none;
}

@media (max-width: 768px) {
  .testing-menu {
    width: 410px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }
}