/* components/Header/Header.css */
.header {
  background-color: #EDEDED;
  text-align: center;
  position: relative;
  height: 80px;
  padding: 80px;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emphasis {
  color: #27538C;
}

.header-cover {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.header-cover .typewriter {
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid orange;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  display: inline-block;
  margin-left: 20px;
}

@keyframes typing {
  from { width: 0; }
  to { width: 35%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}

.header-cover h1 {
  color: #27538C;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 52px;
  height: 20px;
}

.header3Image {
  position: absolute;
  left: 20px;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../../assets/header3.png') no-repeat right top;
  background-size: contain;
  z-index: 1;
}

.header4Image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 60%;
  background: url('../../assets/header4.png') no-repeat left top;
  background-size: contain;
  z-index: 1;
}