.secondary-container {
  position: relative;
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  overflow: hidden;
}

.stacks {
  text-align: center;
}

.stacks h1 {
  font-size: 50px;
  color: #27538C;
}

.cloud1 {
  position: absolute;
  left: 700px;
  right: 0;
  bottom: 0;
  top: 0;
  width: 11%;
  background: url('../../assets/cloud1.png') no-repeat left top;
  background-size: contain;
}

.cloud2 {
  position: absolute;
  left: 100px;
  right: 0;
  bottom: 0;
  top: -30px;
  width: 17%;
  background: url('../../assets/cloud2.png') no-repeat left top;
  background-size: contain;
}

.cloud3 {
  position: absolute;
  left: 1000px;
  right: 0;
  bottom: 0;
  top: 30px;
  width: 10%;
  background: url('../../assets/cloud3.png') no-repeat left top;
  background-size: contain;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@media (max-width: 768px) {
  .stacks h1 {
    font-size: 35px;
  }
  
  .cloud1 {
    left: 300px;
  }
  
  .cloud2 {
    left: 50px;
    top: -10px;
  }
  
  .cloud3 {
<<<<<<< HEAD
    left: 350px;
=======
    left: 400px;
>>>>>>> 976f3755715f1e8eed45d13f68e07829d3cd1822
  }
}