.secondary-container {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .stacks {
    text-align: center;
  }
  
  .stacks h1 {
    font-size: 52px;
    color: #27538C;
  }  