.floating-chat {
  position: fixed;
  right: -5px;
  bottom: 0px;
  cursor: pointer;
  z-index: 1000;
}

.floating-chat img {
  width: 200px;
  height: auto;
}

.tooltip {
  visibility: hidden;
  width: 250px;
  background-color: white;
  color: #27538C;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  position: absolute;
  z-index: 1001;
  bottom: 90%;
  left: 50%;
  margin-left: -225px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 60px;
  border-width: 15px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.floating-chat:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .floating-chat img {
    width: 110px;
  }
  
  .tooltip {
    width: 150px;
    padding: 10px;
    bottom: 95%;
    left: 135%;
    font-size: 12px;
  }

  .tooltip::after {
    margin-left: 20px;
  }
}